## Scrape county prescriber data from 2010

In [1]:
import pandas as pd

In [159]:
url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2010.html"
df= pd.read_html(url)
df_2010= df[0]
df_2010[:2]

               County State  FIPS County Code 2010 Prescribing Rate
0  Aleutians East, AK    AK              2013                     –
1  Aleutians West, AK    AK              2016                     –

In [160]:
df_2010.dtypes

County                   object
State                    object
FIPS County Code          int64
2010 Prescribing Rate    object
dtype: object

In [172]:
df_2010_cols=df_2010.columns.tolist()
df_2010_cols
#['County', 'State', 'FIPS County Code', '2010 Prescribing Rate']
cols = ['FIPS County Code','County', 'State', '2010 Prescribing Rate']

In [173]:
df_2010_reord=df_2010[cols]
df_2010_reord[:2]

   FIPS County Code              County State 2010 Prescribing Rate
0              2013  Aleutians East, AK    AK                     –
1              2016  Aleutians West, AK    AK                     –

In [174]:
df_2010_reord.shape
#(3143, 4)
df_2010_reord.dtypes

# FIPS County Code          int64
# County                   object
# State                    object
# 2010 Prescribing Rate    object
# dtype: object

FIPS County Code          int64
County                   object
State                    object
2010 Prescribing Rate    object
dtype: object

In [175]:
df_2010_reord.columns
# Index(['FIPS County Code', 'County', 'State', '2010 Prescribing Rate'], dtype='object')

Index(['FIPS County Code', 'County', 'State', '2010 Prescribing Rate'], dtype='object')

In [176]:
# make column name from 'FIPS County Code' to be consistent with 2010 County health ranking df column name:'5-digit FIPS Code' to allow for merge
df_2010_reord_rename= df_2010_reord.rename({'FIPS County Code':'5-digit FIPS Code'}, axis=1)

In [177]:
df_2010_reord_rename.dtypes

5-digit FIPS Code         int64
County                   object
State                    object
2010 Prescribing Rate    object
dtype: object

In [143]:
df_2010_reord_rename.shape
#(3143, 4)

(3143, 4)

In [146]:
df_2010_reord_rename.isnull().sum()

5-digit FIPS Code        0
County                   0
State                    0
2010 Prescribing Rate    0
dtype: int64

In [147]:
df_2010_reord_rename.isna().sum()

5-digit FIPS Code        0
County                   0
State                    0
2010 Prescribing Rate    0
dtype: int64

In [ ]:
len(df_2010_reord_rename['5-digit FIPS Code'].value_counts())

### Save dataframe to CSV file

In [179]:
# save dataframe to CSV file
df_2010_reord_rename.to_csv('df_2010_reord_rename.csv', index=False)

In [171]:
# read in scoped 2010 county health rankings csv file
url = 'C:/Users/karen/ds2_opioid_prescribe/df_scoped.csv'
df_scoped_health = pd.read_csv(url)
df_scoped_health[:2]

,5-digit FIPS Code,State Abbreviation,Name,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,Poor mental health days raw value,Low birthweight raw value,Adult smoking raw value,...,Liquor store density raw value,Smoking during pregnancy raw value,Motor vehicle crash occupancy rate raw value,On-road motor vehicle crash-related ER visits raw value,Off-road motor vehicle crash-related ER visits raw value,No recent dental visit raw value,Did not get needed health care raw value,Lead poisoned children (WI) raw value,Municipal water (WI) raw value,Contaminants in municipal water (WI) raw value
0,1000,AL,Alabama,2010,10150.4,0.2003,4.26,4.05,0.1011,0.2386,...,0.675740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,AL,Autauga County,2010,9778.1,0.2586,5.48,4.14,0.0883,0.2814,...,0.407257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
df_scoped_health.shape
#(3192, 43)

(3192, 43)

In [139]:
## df_scoped_health.dtypes
df_2010_reord_rename.dtypes

5-digit FIPS Code         int64
County                   object
State                    object
2010 Prescribing Rate    object
dtype: object

In [91]:
df_2010_reord_rename.columns
# Index(['5-digit FIPS Code', 'County', 'State', '2010 Prescribing Rate'], dtype='object')
df_scoped_health.columns
# Index(['5-digit FIPS Code', 'State Abbreviation', 'Name', 'Release Year',
#        'Premature death raw value', 'Poor or fair health raw value',
#        'Poor physical health days raw value',
#        'Poor mental health days raw value', 'Low birthweight raw value',
#        'Adult smoking raw value', 'Adult obesity raw value',
#        'Binge drinking raw value', 'Motor vehicle crash deaths raw value',
#        'Chlamydia rate raw value', 'Teen births raw value',
#        'Uninsured adults raw value',
#        'Primary care provider rate per 100000 population',
#        'Ratio of population to primary care physicians',
#        'Preventable hospital stays raw value', 'Diabetes monitoring raw value',
#        'Hospice use raw value', 'High school graduation raw value',
#        'College degrees raw value', 'Unemployment raw value',
#        'Children in poverty raw value', 'Income inequality raw value',
#        'Inadequate social support raw value',
#        'Single-parent households raw value', 'Violent crime raw value',
#        'Homicides raw value',
#        'Air pollution-particulate matter days raw value',
#        'Air pollution-ozone days raw value', 
#        'Access to healthy foods raw value', 'Liquor store density raw value',
#        'Smoking during pregnancy raw value',
#        'Motor vehicle crash occupancy rate raw value',
#        'On-road motor vehicle crash-related ER visits raw value',
#        'Off-road motor vehicle crash-related ER visits raw value',
#        'No recent dental visit raw value',
#        'Did not get needed health care raw value',
#        'Lead poisoned children (WI) raw value',
#        'Municipal water (WI) raw value',
#        'Contaminants in municipal water (WI) raw value'],
#       dtype='object')

Index(['5-digit FIPS Code', 'County', 'State', '2010 Prescribing Rate'], dtype='object')

### Merge two Dataframes

In [185]:
# Merge two Dataframes:df_2010_reord(2010 opioid prescribers) + df_scoped(2010 county health rankings)  on common columns using inner join
# mergedDf = empDfObj.merge(salaryDfObj, how='inner')

mergedDf = df_2010_reord_rename.merge(df_scoped_health, on ='5-digit FIPS Code', how= 'left')

In [186]:
#df_2010_reord_rename.shape
#(3143, 4)
#df_scoped_health.shape
#(3192, 43)
mergedDf.shape
#(3143, 46)

(3143, 46)

In [187]:
mergedDf[:2]

,5-digit FIPS Code,County,State,2010 Prescribing Rate,State Abbreviation,Name,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,...,Liquor store density raw value,Smoking during pregnancy raw value,Motor vehicle crash occupancy rate raw value,On-road motor vehicle crash-related ER visits raw value,Off-road motor vehicle crash-related ER visits raw value,No recent dental visit raw value,Did not get needed health care raw value,Lead poisoned children (WI) raw value,Municipal water (WI) raw value,Contaminants in municipal water (WI) raw value
0,2013,"Aleutians East, AK",AK,–,AK,Aleutians East Borough,2010.0,NaN,0.1748,3.35,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,"Aleutians West, AK",AK,–,AK,Aleutians West Census Area,2010.0,5270.5,0.2220,1.46,...,2.050021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Find non-NA values in merged dataframe

In [193]:
# give count of non-na values
mergedDf.count(axis=0)

5-digit FIPS Code                                           3143
County                                                      3143
State                                                       3143
2010 Prescribing Rate                                       3143
State Abbreviation                                          3138
Name                                                        3138
Release Year                                                3138
Premature death raw value                                   3039
Poor or fair health raw value                               2708
Poor physical health days raw value                         2901
Poor mental health days raw value                           2902
Low birthweight raw value                                   2914
Adult smoking raw value                                     2448
Adult obesity raw value                                     3138
Binge drinking raw value                                    2604
Motor vehicle crash deaths raw value                        3138
Chlamydia rate raw value                                    3137
Teen births raw value                                       2965
Uninsured adults raw value                                  3137
Primary care provider rate per 100000 population            3138
Ratio of population to primary care physicians              3138
Preventable hospital stays raw value                        3067
Diabetes monitoring raw value                               3037
Hospice use raw value                                       2566
High school graduation raw value                            3066
College degrees raw value                                   3137
Unemployment raw value                                      3137
Children in poverty raw value                               3137
Income inequality raw value                                 3137
Inadequate social support raw value                         2093
Single-parent households raw value                          3137
Violent crime raw value                                     1453
Homicides raw value                                         1621
Air pollution-particulate matter days raw value             3109
Air pollution-ozone days raw value                          3109
Access to healthy foods raw value                           3138
Liquor store density raw value                              3138
Smoking during pregnancy raw value                            72
Motor vehicle crash occupancy rate raw value                  72
On-road motor vehicle crash-related ER visits raw value       72
Off-road motor vehicle crash-related ER visits raw value      71
No recent dental visit raw value                              71
Did not get needed health care raw value                      71
Lead poisoned children (WI) raw value                         72
Municipal water (WI) raw value                                71
Contaminants in municipal water (WI) raw value                71
dtype: int64

In [195]:
# last 9 columns is missing 98% of values so will drop them
cols = mergedDf.columns[-9:]

In [196]:
cols

Index(['Smoking during pregnancy raw value',
       'Motor vehicle crash occupancy rate raw value',
       'On-road motor vehicle crash-related ER visits raw value',
       'Off-road motor vehicle crash-related ER visits raw value',
       'No recent dental visit raw value',
       'Did not get needed health care raw value',
       'Lead poisoned children (WI) raw value',
       'Municipal water (WI) raw value',
       'Contaminants in municipal water (WI) raw value'],
      dtype='object')

In [197]:
mergedDf_scoped = mergedDf.drop(cols, axis=1)

In [200]:
mergedDf_scoped.shape
#(3143, 37)

(3143, 37)

### Save merged dataframe to CSV

In [208]:
# save dataframe to CSV file
mergedDf_scoped.to_csv('mergedDf_scoped.csv', index=False)

### Find NA values in merged dataframe

In [204]:
mergedDf_scoped.isna().sum()

5-digit FIPS Code                                      0
County                                                 0
State                                                  0
2010 Prescribing Rate                                  0
State Abbreviation                                     5
Name                                                   5
Release Year                                           5
Premature death raw value                            104
Poor or fair health raw value                        435
Poor physical health days raw value                  242
Poor mental health days raw value                    241
Low birthweight raw value                            229
Adult smoking raw value                              695
Adult obesity raw value                                5
Binge drinking raw value                             539
Motor vehicle crash deaths raw value                   5
Chlamydia rate raw value                               6
Teen births raw value                                178
Uninsured adults raw value                             6
Primary care provider rate per 100000 population       5
Ratio of population to primary care physicians         5
Preventable hospital stays raw value                  76
Diabetes monitoring raw value                        106
Hospice use raw value                                577
High school graduation raw value                      77
College degrees raw value                              6
Unemployment raw value                                 6
Children in poverty raw value                          6
Income inequality raw value                            6
Inadequate social support raw value                 1050
Single-parent households raw value                     6
Violent crime raw value                             1690
Homicides raw value                                 1522
Air pollution-particulate matter days raw value       34
Air pollution-ozone days raw value                    34
Access to healthy foods raw value                      5
Liquor store density raw value                         5
dtype: int64