In [174]:
import pandas as pd

#read in merged csv file
url="C:/Users/karen/ds2_opioid_prescribe/mergedDf_scoped.csv"
df = pd.read_csv(url)

In [175]:
df[:2]

,5-digit FIPS Code,County,State,2010 Prescribing Rate,State Abbreviation,Name,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,...,Children in poverty raw value,Income inequality raw value,Inadequate social support raw value,Single-parent households raw value,Violent crime raw value,Homicides raw value,Air pollution-particulate matter days raw value,Air pollution-ozone days raw value,Access to healthy foods raw value,Liquor store density raw value
0,2013,"Aleutians East, AK",AK,–,AK,Aleutians East Borough,2010.0,NaN,0.1748,3.35,...,0.140,41.9,NaN,0.155894,NaN,0.0,NaN,NaN,0.600000,0.000000
1,2016,"Aleutians West, AK",AK,–,AK,Aleutians West Census Area,2010.0,5270.5,0.2220,1.46,...,0.092,34.6,NaN,0.088976,NaN,5.4,NaN,NaN,0.428571,2.050021

In [176]:
df.shape
#(3143, 37)

(3143, 37)

In [177]:
df.dtypes
# 5-digit FIPS Code                                     int64
# County                                               object
# State                                                object
# 2010 Prescribing Rate                                object
# State Abbreviation                                   object
# Name                                                 object
# Release Year                                        float64
# Premature death raw value                           float64

5-digit FIPS Code                                     int64
County                                               object
State                                                object
2010 Prescribing Rate                                object
State Abbreviation                                   object
Name                                                 object
Release Year                                        float64
Premature death raw value                           float64
Poor or fair health raw value                       float64
Poor physical health days raw value                 float64
Poor mental health days raw value                   float64
Low birthweight raw value                           float64
Adult smoking raw value                             float64
Adult obesity raw value                             float64
Binge drinking raw value                            float64
Motor vehicle crash deaths raw value                float64
Chlamydia rate raw value                            float64
Teen births raw value                               float64
Uninsured adults raw value                          float64
Primary care provider rate per 100000 population    float64
Ratio of population to primary care physicians      float64
Preventable hospital stays raw value                float64
Diabetes monitoring raw value                       float64
Hospice use raw value                               float64
High school graduation raw value                    float64
College degrees raw value                           float64
Unemployment raw value                              float64
Children in poverty raw value                       float64
Income inequality raw value                         float64
Inadequate social support raw value                 float64
Single-parent households raw value                  float64
Violent crime raw value                             float64
Homicides raw value                                 float64
Air pollution-particulate matter days raw value     float64
Air pollution-ozone days raw value                  float64
Access to healthy foods raw value                   float64
Liquor store density raw value                      float64
dtype: object

In [10]:
df.isnull().sum()

5-digit FIPS Code                                      0
County                                                 0
State                                                  0
2010 Prescribing Rate                                  0
State Abbreviation                                     5
Name                                                   5
Release Year                                           5
Premature death raw value                            104
Poor or fair health raw value                        435
Poor physical health days raw value                  242
Poor mental health days raw value                    241
Low birthweight raw value                            229
Adult smoking raw value                              695
Adult obesity raw value                                5
Binge drinking raw value                             539
Motor vehicle crash deaths raw value                   5
Chlamydia rate raw value                               6
Teen births raw value                                178
Uninsured adults raw value                             6
Primary care provider rate per 100000 population       5
Ratio of population to primary care physicians         5
Preventable hospital stays raw value                  76
Diabetes monitoring raw value                        106
Hospice use raw value                                577
High school graduation raw value                      77
College degrees raw value                              6
Unemployment raw value                                 6
Children in poverty raw value                          6
Income inequality raw value                            6
Inadequate social support raw value                 1050
Single-parent households raw value                     6
Violent crime raw value                             1690
Homicides raw value                                 1522
Air pollution-particulate matter days raw value       34
Air pollution-ozone days raw value                    34
Access to healthy foods raw value                      5
Liquor store density raw value                         5
dtype: int64

In [114]:
(df == '–').sum()

5-digit FIPS Code                                     0
County                                                0
State                                                 0
2010 Prescribing Rate                               402
State Abbreviation                                    0
Name                                                  0
Release Year                                          0
Premature death raw value                             0
Poor or fair health raw value                         0
Poor physical health days raw value                   0
Poor mental health days raw value                     0
Low birthweight raw value                             0
Adult smoking raw value                               0
Adult obesity raw value                               0
Binge drinking raw value                              0
Motor vehicle crash deaths raw value                  0
Chlamydia rate raw value                              0
Teen births raw value                                 0
Uninsured adults raw value                            0
Primary care provider rate per 100000 population      0
Ratio of population to primary care physicians        0
Preventable hospital stays raw value                  0
Diabetes monitoring raw value                         0
Hospice use raw value                                 0
High school graduation raw value                      0
College degrees raw value                             0
Unemployment raw value                                0
Children in poverty raw value                         0
Income inequality raw value                           0
Inadequate social support raw value                   0
Single-parent households raw value                    0
Violent crime raw value                               0
Homicides raw value                                   0
Air pollution-particulate matter days raw value       0
Air pollution-ozone days raw value                    0
Access to healthy foods raw value                     0
Liquor store density raw value                        0
dtype: int64

### Convert all '-' to NaN in DataFrame

In [206]:
import numpy as np
df_num = df.replace('–',np.NaN)
df_num[:2]

,5-digit FIPS Code,County,State,2010 Prescribing Rate,State Abbreviation,Name,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,...,Children in poverty raw value,Income inequality raw value,Inadequate social support raw value,Single-parent households raw value,Violent crime raw value,Homicides raw value,Air pollution-particulate matter days raw value,Air pollution-ozone days raw value,Access to healthy foods raw value,Liquor store density raw value
0,2013,"Aleutians East, AK",AK,NaN,AK,Aleutians East Borough,2010.0,NaN,0.1748,3.35,...,0.140,41.9,NaN,0.155894,NaN,0.0,NaN,NaN,0.600000,0.000000
1,2016,"Aleutians West, AK",AK,NaN,AK,Aleutians West Census Area,2010.0,5270.5,0.2220,1.46,...,0.092,34.6,NaN,0.088976,NaN,5.4,NaN,NaN,0.428571,2.050021

In [211]:
(df_num == '–').sum()

# 5-digit FIPS Code                                   0
# County                                              0
# State                                               0
# 2010 Prescribing Rate                               0
# State Abbreviation                                  0
# Name                                                0
# Release Year                                        0

In [207]:
df_num.dtypes

5-digit FIPS Code                                     int64
County                                               object
State                                                object
2010 Prescribing Rate                                object
State Abbreviation                                   object
Name                                                 object
Release Year                                        float64
Premature death raw value                           float64
Poor or fair health raw value                       float64
Poor physical health days raw value                 float64
Poor mental health days raw value                   float64
Low birthweight raw value                           float64
Adult smoking raw value                             float64
Adult obesity raw value                             float64
Binge drinking raw value                            float64
Motor vehicle crash deaths raw value                float64
Chlamydia rate raw value                            float64
Teen births raw value                               float64
Uninsured adults raw value                          float64
Primary care provider rate per 100000 population    float64
Ratio of population to primary care physicians      float64
Preventable hospital stays raw value                float64
Diabetes monitoring raw value                       float64
Hospice use raw value                               float64
High school graduation raw value                    float64
College degrees raw value                           float64
Unemployment raw value                              float64
Children in poverty raw value                       float64
Income inequality raw value                         float64
Inadequate social support raw value                 float64
Single-parent households raw value                  float64
Violent crime raw value                             float64
Homicides raw value                                 float64
Air pollution-particulate matter days raw value     float64
Air pollution-ozone days raw value                  float64
Access to healthy foods raw value                   float64
Liquor store density raw value                      float64
dtype: object

In [214]:
# Check for NA values in each column
df_num.isna().sum()

5-digit FIPS Code                                      0
County                                                 0
State                                                  0
2010 Prescribing Rate                                402
State Abbreviation                                     5
Name                                                   5
Release Year                                           0
Premature death raw value                            104
Poor or fair health raw value                        435
Poor physical health days raw value                  242
Poor mental health days raw value                    241
Low birthweight raw value                            229
Adult smoking raw value                              695
Adult obesity raw value                                5
Binge drinking raw value                             539
Motor vehicle crash deaths raw value                   5
Chlamydia rate raw value                               6
Teen births raw value                                178
Uninsured adults raw value                             6
Primary care provider rate per 100000 population       5
Ratio of population to primary care physicians         5
Preventable hospital stays raw value                  76
Diabetes monitoring raw value                        106
Hospice use raw value                                577
High school graduation raw value                      77
College degrees raw value                              6
Unemployment raw value                                 6
Children in poverty raw value                          6
Income inequality raw value                            6
Inadequate social support raw value                 1050
Single-parent households raw value                     6
Violent crime raw value                             1690
Homicides raw value                                 1522
Air pollution-particulate matter days raw value       34
Air pollution-ozone days raw value                    34
Access to healthy foods raw value                      5
Liquor store density raw value                         5
dtype: int64

In [278]:
#df_num = df_num.drop(columns='State Abbreviation')
# one df had state and the other had State Abbreviation which is duplicated.

In [310]:
df_num[:2]

,5-digit FIPS Code,County,State,2010 Prescribing Rate,Name,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,Poor mental health days raw value,...,Children in poverty raw value,Income inequality raw value,Inadequate social support raw value,Single-parent households raw value,Violent crime raw value,Homicides raw value,Air pollution-particulate matter days raw value,Air pollution-ozone days raw value,Access to healthy foods raw value,Liquor store density raw value
0,2013,"Aleutians East, AK",AK,NaN,Aleutians East Borough,2010,NaN,0.1748,3.35,4.89,...,0.140,41.9,NaN,0.155894,NaN,0.0,NaN,NaN,0.600000,0.000000
1,2016,"Aleutians West, AK",AK,NaN,Aleutians West Census Area,2010,5270.5,0.2220,1.46,1.81,...,0.092,34.6,NaN,0.088976,NaN,5.4,NaN,NaN,0.428571,2.050021

### Replace NA values

In [311]:
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper

In [312]:
# Select all the numeric columns and create steps for Dataframe mapper and use simple imputer to replace nan
# in for values in each column with mean
cols = df_num.select_dtypes(exclude='object').columns

mapper = DataFrameMapper([([col], SimpleImputer()) for col in cols], df_out=True)

In [313]:
# [(['5-digit FIPS Code'],
#   SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
#          verbose=0)),
#  (['2010 Prescribing Rate'],
#   SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
#          verbose=0))]

In [314]:
transformed_num_df = mapper.fit_transform(df_num)
transformed_num_df[:3]

,5-digit FIPS Code,2010 Prescribing Rate,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,Poor mental health days raw value,Low birthweight raw value,Adult smoking raw value,Adult obesity raw value,...,Children in poverty raw value,Income inequality raw value,Inadequate social support raw value,Single-parent households raw value,Violent crime raw value,Homicides raw value,Air pollution-particulate matter days raw value,Air pollution-ozone days raw value,Access to healthy foods raw value,Liquor store density raw value
0,2013.0,92.522255,2010.0,8407.271537,0.1748,3.35,4.89,0.080278,0.224214,0.282,...,0.140,41.9,0.189622,0.155894,328.102753,0.0,2.828884,2.841106,0.600000,0.000000
1,2016.0,92.522255,2010.0,5270.500000,0.2220,1.46,1.81,0.080278,0.351600,0.289,...,0.092,34.6,0.189622,0.088976,328.102753,5.4,2.828884,2.841106,0.428571,2.050021
2,2020.0,75.100000,2010.0,6981.400000,0.1331,3.55,3.05,0.063300,0.198000,0.259,...,0.105,39.7,0.175800,0.115332,328.102753,7.0,2.828884,2.841106,0.387097,1.214624

In [315]:
# convert prescribing rate column to float and reassign back to original dataframe. 
transformed_num_df['2010 Prescribing Rate'] = pd.to_numeric(transformed_num_df['2010 Prescribing Rate'])
# convert Release Year column to integer and reassign back to original dataframe.
transformed_num_df['Release Year'] = transformed_num_df['Release Year'].fillna(0).astype('int64')
# convert 5-digit FIPS Code column to integer and reassign back to original dataframe.
transformed_num_df['5-digit FIPS Code'] = transformed_num_df['5-digit FIPS Code'].fillna(0).astype('int64')

In [316]:
obj_df=df_num.select_dtypes('object')
obj_df[:3]

               County State                        Name
0  Aleutians East, AK    AK      Aleutians East Borough
1  Aleutians West, AK    AK  Aleutians West Census Area
2       Anchorage, AK    AK           Anchorage Borough

In [317]:
from sklearn.preprocessing import LabelEncoder
obj_df_cols = obj_df.columns
mapper_obj = DataFrameMapper([([col], LabelEncoder()) for col in obj_df_cols], df_out=True)
# mapper_obj
# DataFrameMapper(default=False, df_out=True,
#         features=[(['County'], LabelEncoder()), (['State'], LabelEncoder()), (['Name'], LabelEncoder())],
#         input_df=False, sparse=False)

In [318]:
transformed_obj_df = mapper_obj.fit_transform(obj_df)

C:\Users\karen\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

TypeError: ['Name']: '<' not supported between instances of 'str' and 'float'

In [286]:
frames = [transformed_obj_df, transformed_num_df]
transformed_df = pd.concat(frames, axis=1)
transformed_df[:4]

,County,State,Name,5-digit FIPS Code,2010 Prescribing Rate,Release Year,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,Poor mental health days raw value,...,Children in poverty raw value,Income inequality raw value,Inadequate social support raw value,Single-parent households raw value,Violent crime raw value,Homicides raw value,Air pollution-particulate matter days raw value,Air pollution-ozone days raw value,Access to healthy foods raw value,Liquor store density raw value
0,"Aleutians East, AK",AK,Aleutians East Borough,2013,92.522255,2010,8407.271537,0.1748,3.35,4.89,...,0.140,41.9,0.189622,0.155894,328.102753,0.0,2.828884,2.841106,0.600000,0.000000
1,"Aleutians West, AK",AK,Aleutians West Census Area,2016,92.522255,2010,5270.500000,0.2220,1.46,1.81,...,0.092,34.6,0.189622,0.088976,328.102753,5.4,2.828884,2.841106,0.428571,2.050021
2,"Anchorage, AK",AK,Anchorage Borough,2020,75.100000,2010,6981.400000,0.1331,3.55,3.05,...,0.105,39.7,0.175800,0.115332,328.102753,7.0,2.828884,2.841106,0.387097,1.214624
3,"Bethel, AK",AK,Bethel Census Area,2050,92.522255,2010,12111.400000,0.1726,3.38,2.86,...,0.286,42.5,0.494700,0.148131,328.102753,11.2,2.828884,2.841106,0.407407,0.000000

### Set target value

In [287]:
X = df_num.drop(columns= ['2010 Prescribing Rate'])
X.shape
#(3143, 36)

(3143, 35)

In [288]:
y = df_num['2010 Prescribing Rate']
y.shape
#(3143,)

(3143,)

### Split dataset

In [289]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle = False, test_size = .3)

X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, shuffle = False, test_size = .5)

In [291]:
X_train.shape, X_validate.shape, X_test.shape
#((2200, 35), (471, 35), (472, 35))

((2200, 35), (471, 35), (472, 35))

### Train Linear Regression Model

In [292]:
from sklearn.linear_model import LinearRegression

In [294]:
model = LinearRegression()

In [295]:
model.fit(X_train,y_train)

ValueError: could not convert string to float: 'Aleutians East, AK'